@import './fonts/stylesheet';


/* main */
:root {
  --main-font-family: "Poppins", sans-serif;
  --sec-font-family: 'Porcine';
  --color-dark: #121212;
  --color-light: #E1E2FB;
  --color-main: #4F16F2;
  --color-gradient-main: #F9E1D1;
  --color-gradient-sec: #EEEEFD;

}

body {
  background-image: url('../public/assets/img/site-bg.png');
  background-size: cover;
  font-family: var(--main-font-family);
  font-weight: 400;
  color: var(--color-dark);
}

a,
a.nav-link {
  color: var(--color-dark);
}

a:hover,
a.nav-link:hover,
#main-nav a.nav-link.active {
  background-color: var(--color-main);
  color: #fff;
}

h1,
h2 {
  font-family: var(--sec-font-family);
  font-size: 80px;
  line-height: 96px;
  font-weight: 900;
}


p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

p small {
  font-size: 13px;
}

/* styles classes */
.isolate {
  isolation: isolate;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.grad-bg {
  background: linear-gradient(var(--color-gradient-main) 0%, var(--color-gradient-sec) 100%);
}


p.main {
  line-height: 17px;
  margin-left: 10px;
  position: relative;
}

p.main::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 0;
  left: 0;
  margin-left: -10px;
  background-color: var(--color-main);
}

.bg-light {
  background-color: #fff !important;
}

button.bg-light {
  background-color: var(--color-light) !important;
}

.medium-font {
  font-weight: 500;
}

.isolate {
  isolation: isolate;
}

.shadow {
  white-space: nowrap;
  border: 1px var(--color-dark) solid;
  position: relative;
  box-shadow: 0px 0px 0px 0px var(--color-dark) !important;
}

.shadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-dark);
  transform: translate(3px, 3px);
  border-radius: var(--bs-border-radius-pill);
  z-index: -1;
}

.shadow:hover {
  border-width: 2px;
}

.shadow:hover::before {
  display: none;
}

.sticky-top {
  top: -1px !important;
}

nav.navbar {
  display: inline-block;
}

.sticky-top.is-pinned:hover ul {
  max-width: 100%;
}

.sticky-top ul {
  max-width: 100%;
  overflow: hidden;
  transition: max-width 200ms ease-in-out;
}

@media (min-width:768px) {
  .sticky-top.is-pinned ul {
    max-width: 0px;
  }

  .bg-md-transparent {
    background: transparent !important;
  }
}

@media (max-width:767px) {
  h1 {
    font-size: 3rem;
  }

  ul#main-nav {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 44px;
    width: 100%;
    padding: 20px;
  }
}

.clearfix {
  color: rgba(0, 0, 0, 0)
}

.card-title {
  color: var(--color-main);
}

.card {
  border-color: var(--color-dark);
  border-radius: 44px;
}

.test-item {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.test-item::before {
  content: "";
  position: absolute;
  width: 304px;
  height: 304px;
  top: 0;
  left: 0;
  transform: translate(-50px, -50px);
  background-color: #F9E2D4;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}

.carouselWithIndicators ol li {
  transition: width 400ms ease-in-out;
  height: 4px;
  color: rgba(0, 0, 0, 0);
  background-color: var(--color-gradient-main);
  position: relative;
}

.carouselWithIndicators ol li:not(.active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.carouselWithIndicators ol li.active {
  background-color: var(--color-main);
  opacity: 1;
  width: 100px;
}

.blog-item {
  background-color: #f6f6f6;
}

.blog-item:hover {
  background-color: var(--color-main);
}

.blog-item:hover p {
  color: var(--color-light);
}

.blog-item:hover .btn {
  background-color: #fff !important;
}

form input.form-control,
form textarea.form-control {
  border-width: 0 0 2px 0;
  border-color: var(--color-dark);
  border-radius: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

/* custom */
#cover-logo {
  display: inline-block;
  position: relative;
  max-width: 80%;
  transform: translateX(10%) translateY(-100%);
  animation: 1s bounce both;
  animation-delay: 0.4s;
}

#cover-logo::after {
  content: "";
  position: absolute;
  width: 42%;
  height: 100%;
  right: 0;
  bottom: 0;
  background-image: url(../public/assets/img/cover-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(50%, 43%);
}

header#cover {
  margin-bottom: -200px;
  max-width: 100%;
  overflow-x: clip;
}

#about-text {
  position: relative;
}

#about-text::after {
  content: url(../public/assets/img/about-crecent.png);
  position: absolute;
  display: inline-block;
  top: 100%;
  right: 100%;
  transform: translate(50%, -30%);
  z-index: -1;
}

footer {
  background-color: var(--color-main);
}

footer a {
  color: var(--color-gradient-sec);
  text-decoration: none;

}

#footer-logo {
  margin-top: -140px;
}




/* brands carousel */

@media (max-width: 767px) {
  .brands-carousel .carousel-inner .carousel-item>div {
    display: none;
  }

  .brands-carousel .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.brands-carousel .carousel-inner .carousel-item.active,
.brands-carousel .carousel-inner .carousel-item-next,
.brands-carousel .carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .brands-carousel .carousel-inner .carousel-item-end.active,
  .brands-carousel .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .brands-carousel .carousel-inner .carousel-item-start.active,
  .brands-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.brands-carousel .carousel-inner .carousel-item-end,
.brands-carousel .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#slider-wrapper {
  position: relative;
  z-index: 2;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transform: rotate(-5deg);
}

#slider-wrapper .slider-tiker-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  left: 50%;
  width: 2700px;
  height: 262px;
  margin-left: -1335px;
}

#slider-wrapper .slider-tiker {
  position: absolute;
  width: 2700px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border: 2px solid #000;
  background: linear-gradient(0deg, #efefef 0%, #ffffff 40%, #ffffff 60%, #efefef 100%);
  --border-size: 28px;
}

#slider-wrapper .slider-tiker:nth-child(1) {
  /* clip-path:inset(0 1450px 0 0); */
  width: 1250px;
  overflow: hidden;
}

#slider-wrapper .slider-tiker:nth-child(1) .logo-slider {
  width: 2700px;
}

#slider-wrapper .slider-tiker:nth-child(1)::before,
#slider-wrapper .slider-tiker:nth-child(1)::after {

  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
}

#slider-wrapper .slider-tiker:nth-child(1)::before {

  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 var(--border-size) var(--border-size) 0;
  border-color: transparent black transparent transparent;
  transform: rotate(0deg);
}

#slider-wrapper .slider-tiker:nth-child(1)::after {
  height: 200%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: skewY(46deg) translateY(10px);
  width: calc(var(--border-size) * 1.5);
}

#slider-wrapper .slider-tiker:nth-child(2) {
  clip-path: inset(0 0 0 1250px);
  margin-left: calc(-1 * var(--border-size));
  margin-top: calc(-1 * var(--border-size));
  z-index: 2;
}

#slider-wrapper .slider-tiker:nth-child(2)::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 1247px;
  height: 100%;
  border-left: 2px solid #000;

}

/* CSS Animations */


@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    transform: translateY(-60px)
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    transform: translateY(-30px)
  }

  100% {
    transform: translateY(0)
  }
}