@import './assets/fonts/stylesheet';
:root {
  --main-font-family: "Poppins", sans-serif;
  --sec-font-family:'Porcine';
}

body{
  background-image: url(assets/img/site-bg.png);
  background-size: cover;
  font-family: var(--main-font-family);
}

section{
  font-family: var(--sec-font-family);
}